html {
    height: 100%; 
    background-color: #121212;
    color: gray;
    min-width: 400px;
    min-height: 500px;
}

h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 4em
}

pre {
    color: "#b7b7b7"
}

.MuiInputBase-root.MuiOutlinedInput-root {
    color: #c6c6c6
}
.App {
    text-align: center;
}
.leftAlign {
    text-align: left;
}
